.phone-input {
  width: 100%;
}

.phone-input .react-tel-input .form-control {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 14px 16px;
  border: 2px solid transparent;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25rem;
  font-family: "Montserrat", "sans-serif";
}

@media (min-width: 1024px) {
  .phone-input .react-tel-input .form-control {
    font-size: 20px;
    line-height: 1.75rem;
  }
}

.phone-input .react-tel-input .form-control::placeholder {
  color: #a9a9a9;
}

.phone-input .react-tel-input .form-control:focus {
  border-color: #1d4ed8;
  border-width: 2px;
}

.phone-input .react-tel-input .flag-dropdown {
  display: none;
}

.phone-input--disabled .react-tel-input .form-control {
  opacity: 0.6;
  cursor: not-allowed;
}
